/*
  In this file you'll make use of AS MINIMUM CLASSES AS POSSIBLE.

  In order to work with this file, keep in mind that you need to learn how css selectors work. Avoid creating multiple classes to display the same thing.

  */

* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-color: antiquewhite;
}

header {
  display: flex;
  height: 48px; /* you can set here any desired height*/
  background-color: aqua;
  box-shadow: 0 0 3px #1b1c1d;
  align-items: center;
  justify-content: center;
}

main {
  display: grid;
  height: 100%;
  width: 90%;
  background-color: azure;
  margin: 10px auto;
  padding: 1rem;
  justify-content: baseline;
  align-items: start;
}

footer {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 15px 5px;
  gap: 5px;

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 0.8rem;
    opacity: 0.75;
  }
}
